body, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #202020;
    background: #FFFFFF;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* Cabeçalho */

.menu-bg {
    border-top: 1px solid rgba(204, 204, 204, 1);
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}

.menu-logo {
    height: 86px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu {
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 0.87em;
    margin: auto 40px auto 40px;
}

.menu a {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #686868;
    text-decoration: none;
} 

.menu-acesso {
    width: 14%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.menu-acesso-entrar {
    border-right: 1px solid #686868;
    padding-right: 13px;
    height: 0.87em;
    display: inline-flex;
    align-items: center;
}

/* .container-barrinha::before {
    content: '';
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1px;
    height: 14px;
}

.container-barrinha::before {
    background: #686868;
} */


.menu-categoria {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.menu-compras {
    width: 10%;
    display: flex;
    justify-content: space-around; 
}

.busca {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #686868;
    
}

.busca img {
    width: 22px;
    height: 22px;
    color: #686868;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px;
}

.busca input {
    border: none;
    width: 49px;
} 

.sacola {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.sacola img {
    width: 22px;
    height: 22px;
    margin: 2px;
    color: #686868;
    cursor: pointer;
}

.sacola p {
    margin-right: 3px;
    color: #686868;
}

/*Caminho*/

.caminho {
   width: 104px;
   height: 49px;
   padding-top: 16px;
   padding-bottom: 16px;
   display: flex;
   justify-content: space-around;
   font-size: 12px;
   margin: auto 40px auto 40px;
   text-align: center;
   color: #aeb6c1;
}

.caminho a {
    color: #aeb6c1;

}

.caminho p {
    margin-left: 4px;
    margin-right: 4px;
}

.caminho-sapatos {
    font-weight: bold;
}

/*Produto*/

.produto {
    display: flex;
    justify-content: space-between;
   /*  flex-wrap: wrap; */
    margin-left: 40px;
    margin-right: 40px;
}

/*Menu Lateral*/

/* .produto-lateral {
    display: flex;
    flex-flow: column; 
} */



/*Produto Principal*/

.produto-principal {
    margin-left: 56px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Descrição do Produto */

.descricao {
    Width: 444px;
    Height: 533px; 
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 15px;
    margin-right: 122px;
    margin-left: 106px;
    border: 2px solid #D2E1DF;
}

.descricao-produto {
    height: 74px;
    width: 406px;
}

.descricao-produto h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 0px;
}

.descricao-produto p {
    text-transform: uppercase;
    font-size: 14px;
    text-align: start;
}

/* Descrição Valor */

.descricao-valor {
    display: flex;
    justify-content: space-between;
    width: 168px;
    height: 38px;
    flex-wrap: wrap;
    align-items: center;
}

.desconto {
    width: 74px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: start;
    display: inline-flex;
    justify-content: space-between;
    color: #E35442;
}

.valor {
    font-size: 20px;
    font-weight: bold;
    color: #686868;
}

.parcelas {
    font-size: 12px;
    color: #7F7F7F;
}

.tamanho-selecionado ul, li, a {
    display: inline-block;
    justify-content: space-between;
}

/* Descrição Cores */

.variacoes {
    width: 194px;
    height: 68px;
    margin-top: 30px;
    font-size: 14px;
}

.variacoes-cor p {
    display: inline-block;
    justify-content: space-between;
}

.cor-selecao {
    margin-right: 13px;
}

.cor-escolhida {
    color: #5f75aa;
}
.cores {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.cor-1, .cor-2, .cor-3, .cor-4 {
    width: 22px;
    height: 22px;
    border-radius: 50%;    
    margin: 1px;
    display: flex;
}

.container {
    margin-right: 12px;
    border-radius: 50%;
}

.border-cor-1 {
    border: 3px solid #de8f75;

}

.cor-1 {
    background: #a9095e;
}

.cor-2 {
    background: #2a5a75;
}

.cor-3 {
    background: #a14830;
}

.cor-4 {
    background: #000000;
}


/* Tamanho */

.tamanho {
    width: 370px;
    height: 70px;
    margin-top: 28px;
    font-size: 14px;
}

.tamanho-selecionado {
    display: flex;
    justify-content: space-between;
}

.tamanho-selecao {
    margin-right: 9px;
}

.tamanho-escolhido {
    
}

#tamanhoEscolhido {
    margin-right: 142px;
    color: #5f75aa;
}

#tamanho1 {
    display: flex;
}

.medidas {
    color: #de8f75;
    text-decoration: underline;  
    margin-right: 0px;  
}

.tabela-selecao {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;    
}

.tabela-selecao button {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    color: #5f75aa;
    background-color: #FFFFFF;
    font-size: 14px;
    padding: 6px;
    cursor: pointer;
}

.tamanhoSelecionado {
    background-color: #de8f75;
    color: #FFFFFF;
    font-weight: bold;
}

.botao-adicionar {
    margin-top: 53px;
}

.botao-adicionar button {
    width: 404px;
    height: 60px;
    background: #32917b;
    border-radius: 3px;
    border: none;   
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.info-produto {
    margin-top: 24px;
    font-size: 14px;
}

/* Adicionar produto ao carrinho - Modal */

.container-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(32, 32, 32, 0.6);
    z-index: 99;
    top: 0;
    left: 0;
    display: none;
}

 .box-modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal {
    width: 445px;
    height: 568px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
}

.botao-fechar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;  
    margin-right: 14px;
}

.botao-fechar img {
    cursor: pointer;
}

.finalizar {   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;     
}

.finalizar img {
    margin-top: 12px;
    width: 305px;
    height: 338px;
} 

.finalizar p {
    font-size: 22px;
    color: #DE8F75;
    text-transform: uppercase;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
}

.finalizar-compra {
    margin-top: 9px;
    width: 305px;
    height: 51px;
    border: none;
    background-color: #32917B;
    border-radius: 3px;
}

.finalizar-compra {    
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.continuar-comprando {
    width: 305px;
    height: 34px;
    border: none;
    background-color: #fff;
    margin-top: 7px;
    margin-bottom: 21px;    
}

.continuar-comprando {
    font-size: 14px;
    color: #AEB6C1;
    text-decoration: underline;
    cursor: pointer;
} 

/* Carrinho de compras */

.container-modal-carrinho {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(32, 32, 32, 0.6);
    z-index: 99;
    top: 0;
    left: 0;
    display: none;
}

.box-modal-carrinho {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
}

.modal-carrinho {
    width: 525px;
    height: 100%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
}

.modal-geral {
    padding: 30px;
}

.botao-fechar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;  
    margin-right: 14px;
}

.modal-cabecalho {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.botao-fechar-carrinho img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.cabecalho-info span {
    font-size: 26px;
    text-transform: uppercase;
    color: #de8f75;
}

.cabecalho-info p {
    font-size: 18px;
    color: #aeb6c1;
}

.modal-carrinho-itens {
    height: 330px;
    overflow: auto;
}

.itens-carrinho {
    width: 440px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produto-info-carrinho p {
    font-size: 12px;
}

.produto-info-carrinho span {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.quantidade-produto {
    display: flex;
    align-items: center;
}

.quantidade-produto a {
    font-size: 20px;
    font-weight: bold;
    color: #aeb6c1;
}

.quantidade-produto p {
    margin: auto 20px;
    font-size: 14px;
    color: #5f75aa;
}

.itens-carrinho img {
    width: 46px;
    height: 59px;
}

.excluir-item img {
    width: 10px;
    height: 10px;
}

.finalizar-carrinho {
    display: flex;
    align-items: center;
}

.frete {
    background-color: #aeb6c1;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 40px;
}

.frete p {
    margin: auto 2px;
    
}

.ganhar-frete {
    font-weight: bold;
}

.finalizar-carrinho {   
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.forma-pagamento {
    margin-left: 30px;
}

.forma-pagamento span {
    font-size: 16px;
    font-weight: bold;
}

.forma-pagamento p {
    font-size: 12px;
    color: #000000;
}

.btn {
    margin-right: 40px;
}

.btn button {
    width: 236px;
    height: 42px;
    border: none;
    border-radius: 3px;
    background-color: #32917b;
    cursor: pointer;
} 

.btn-finalizar {
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
}

/* sugestões do site */

.sugestoes-site {
    margin-top: 111px;
    margin-left: 40px;
    margin-right: 40px;
}

.sugestoes-site h2 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    color: #de8f75;
    margin-bottom: 17px;
}

.sugestao-produto {
    height: 403px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
    justify-content: space-around;
    
}

.sugestao-produto p {
    font-size: 16px;
}

.sugestao-produto-pc {
    display: flex;
}

.back-next {
    margin-top: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Newslatter */

.container-newslatter {
    height: 333px;
    margin-top: 144px;
    border-top: 2px solid #AEB6C1;
    padding-top: 21px;    
}

.newslatter {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
}

.box-newslatter {
    display: flex;
    width: 80%;
}

.redes {
  
    margin-top: 21px;
}

.redes-contato {
    width: 121px;
    display: flex;
    justify-content: space-between;
}

.selos {
    margin-top: 51px;
    width: 178px;
    display: flex;
    justify-content: space-between;
}

.sub-links {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 55px;
    width: 627px;
    justify-content: space-between;
}

.sub-links ul {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.sub-links p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #aeb6c1;
    margin-bottom: 10px;
}

.links a {
    color: #202020;
    margin-bottom: 10px;
}

/* .box-contato {
    display: flex;
    flex-direction: column;
} */

.newslatter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-contato {
    width: 293px;
    height: 293px;
    /* padding: 30px; */
    border: 2px solid #AEB6C1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -160px;
    background-color: #fff;
}

.newslatter-info {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.newslatter-form input {
    border: none;
    border-bottom: 2px solid #AEB6C1;
    margin-bottom: 27px;
    width: 240px;
}

.newslatter-form button {
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DE8F75;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
}

/* Footer */

.footer {
    background: #de8f75;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer p {
    width: 737px;
    color: #fff;
    font-size: 12px;
    margin-top: 12px;
    
}

.footer img {
    margin-left: 217px;
}

